.hp-custom-btn {
  display: block;
  width: 100%;
}

.hp-custom-btn:not(.hp-custom-delete-btn) {
  border: 1px solid var(--wp-admin-theme-color,#007cba);
}

.hp-custom-btn.preview {
  float: none;
}

.hp-custom-delete-btn {
  margin-top: .5em !important;
}