$spacingVals: (
  'sm': '1rem',
  'md': '1.5rem',
  'lg': '2rem',
  'xl': '5rem',
);

@each $key, $val in $spacingVals {
  .hp-showcase-block {
    &.spacing-top--#{$key} {
      margin-top: #{$val};
    }
    &.spacing-bottom--#{$key} {
      margin-bottom: #{$val};
    }
  }
}

.hp-showcase-block {
  --spacing: 1rem;
  padding: var(--spacing) 0;
  box-sizing: border-box;
  min-height: 600px;
  isolation: isolate;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &.y {
    &-top {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-bottom {
      justify-content: flex-end;
    }
  }
  &:not(.block-editor-block-list__block) {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .container {
    max-width: var(--wp--style--global--content-size);
    width: 100%;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    &.x {
      &-left {
        justify-content: flex-start;
        text-align: start;
      }
      &-center {
        justify-content: center;
        text-align: center;
      }
      &-right {
        justify-content: flex-end;
        text-align: end;
      }
    }
  }
  &__bg-img {
    z-index: -2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  h1 {
    margin: 0 0 .5em;
    line-height: 1.2;
  }
  .bg-img-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.hp-custom-link,
.hp-custom-link[role="textbox"] {
  --theme-color: #007cba;
  transition: all 250ms ease;
  display: inline-block;
  text-align: start;
  width: fit-content;
  line-height: 1;
  padding: .5em 1.25em;
  background-color: var(--theme-color);
  text-decoration: none !important;
  border-radius: 8px;
  font-size: 1.15rem;
  color: #fff;
  border: 1px solid var(--theme-color);
  &:hover {
    background-color: transparent;
    color: var(--theme-color);
  }
}