$spacingVals: (
  'sm': '1rem',
  'md': '1.25rem',
  'lg': '1.75rem',
  'xl': '2rem',
);

@each $key, $val in $spacingVals {
  .hp-showcase-block {
    &.spacing-top--#{$key} {
      margin-top: #{$val};
    }
    &.spacing-bottom--#{$key} {
      margin-bottom: #{$val};
    }
  }
}

.hp-showcase-block {
  &__bg-img {
    display: block;
  }
}

.hp-custom-link,
.hp-custom-link[role="textbox"] {
  --theme-color: #007cba;
  transition: all 250ms ease;
  display: inline-block;
  text-align: start;
  width: fit-content;
  line-height: 1;
  padding: .5em 1.25em;
  background-color: var(--theme-color);
  text-decoration: none !important;
  border-radius: 8px;
  font-size: 1.15rem;
  color: #fff;
  border: 1px solid var(--theme-color);
  &:hover {
    background-color: transparent;
    color: var(--theme-color);
  }
}